{% extends 'core/base.html' %}

{% load socialaccount %}


{% load account %}
{% user_display user %}


{% block body%}

{% if user.is_authenticated %}
    <div class="my-64">
        <div class="my-12 flex justify-center ">
            <div class="flex items-center">
                <img class="rounded-full " src="http://graph.facebook.com/{{su.uid}}/picture?type=small" />
                <p class="px-2 text-gray-700 text-center text-2xl font-semibold">Hi, {{su.get_provider_account }}!</p>
            </div>
        </div>

        <!-- <a href="{% url 'core:forTest' %}" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"> Testing Bug
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a> -->

        <div class="flex justify-center ">
            <div>
                <div href="{% provider_login_url "facebook" method="oauth2" %}"
                class="flex justify-center items-center bg-blue-500  text-white font-bold py-2 px-12 rounded">
                    <img class="px-4" src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
                    You're already logged in
                </div>
            </div> 
        </div>
        
        
    </div>

{% endif %}

{% if not user.is_authenticated %}
<div class="my-64">
    <div class="flex justify-center my-12">
        <p class="w-1/2 text-gray-500 text-center text-2xl font-semibold">
            Facebook Login is a fast and convenient way for people to create accounts and log into your app across multiple platforms.You can use Facebook Login simply for authentication. Its 100 % safe and secure.
        </p>
    </div>

    <div class="flex justify-center ">
        <div>
            
            <a href="{% provider_login_url "facebook" method="oauth2"  %}"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-12 rounded">
                <img class="px-4" src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
                Login With Facebook {% user_display user %}
            </a>
        </div> 
    </div>
</div>
{% endif %}
    


{% endblock %}
