{% extends 'core/base.html' %}
{% block body%}

<div class="font-mono ">
    <!-- Container -->
    <div class="container mx-auto border-2 my-24">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div
                    class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                    style="background-image: url('https://source.unsplash.com/Tn8DLxwuDMA/')"
                ></div>
                <!-- Col -->
                <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Create a project!</h3>
                    <form action="{% url 'bop:createProject' %}" class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="POST">
                        {% csrf_token %}
                        <!-- <button type="submit">Save</button> -->
                        <div class="mb-4 md:flex md:justify-between">
                            <div class="mb-4 md:mr-2 md:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                    Project Name
                                </label>
                                {{ form.projectName}}
                                <!-- <input
                                    name="projectName"
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="Project Name"
                                    type="text"
                                    placeholder="Your project name ?"
                                /> -->
                            </div>
                            
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700 " for="email">
                                Details
                            </label>
                            {{ form.Details}}
                            <!-- <textarea
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="email"
                                type="email"
                                placeholder="About your project ...."
                            ></textarea> -->
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                Requirements
                            </label>
                            {{ form.Requirements}}
                            <!-- <textarea
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="email"
                                type="text"
                                placeholder="Add requirements ...."
                            ></textarea> -->
                        </div>
                        <!-- <div class="mb-4 md:flex md:justify-between">
                            <div class="mb-4 md:mr-2 md:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                    Discord
                                </label>
                                <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="Project Name"
                                    type="text"
                                    placeholder="Discord link !"
                                />
                            </div>
                            <div class="md:ml-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                                    Facebook
                                </label>
                                <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="lastName"
                                    type="text"
                                    placeholder="Facebook group link !"
                                />
                            </div>
                        </div> -->
                        <div class="my-8">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                                Catagory
                            </label>
                            <div class="inline-block relative w-64">
                                {{ form.catagory }}
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit"
                            >
                                Create
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}